* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #5e5c5c;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
}

.main-profile {
  margin-top: 10vh;
  margin-bottom: 10vw;
  padding: 35px 40px 20px 40px;
  background-color: #fff;
  max-width: 50vw;
}

.aside-profile {
  margin-top: 10vh;
  margin-bottom: 10vw;
  padding: 80px 40px 20px 40px;
  background-color: #19304f;
  max-width: 30vw;
}

.main-profile section,
.aside-profile section,
a {
  margin-top: 36px;
  text-decoration: none;
}

.main-profile a {
  cursor: pointer;
}
.img-profile {
  width: 55px;
  border-radius: 50%;
  margin-right: 12px;
}

.title-profile {
  font-weight: bold;
  font-size: 20px;
  color: #19304f;
}

.description-profile {
  font-weight: 300;
  font-size: 14px;
  color: #19304f;
}

.main-profile h2 {
  font-weight: 700;
  font-size: 20px;
  color: #222222;
  margin-bottom: 10px;
  text-align: justify;
}

.main-profile h3 {
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  text-align: justify;
}

.main-profile p {
  font-weight: 300;
  font-size: 16px;
  color: #222222;
  line-height: 20px;
  text-align: justify;
}

.main-profile ul {
  font-weight: 300;
  font-size: 14px;
  color: #222222;
  line-height: 18px;
  text-align: justify;
  margin-left: 30px;
}

.aside-profile h2 {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
  text-align: justify;
}

.aside-profile p {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-align: justify;
}

.aside-profile ul {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  line-height: 18px;
  text-align: justify;
  list-style: none;
}

ul.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.underline li {
  border-bottom: 2px solid white;
  line-height: 30px;
}
